<!DOCTYPE html>

<html lang="en" ng-app="fractalBakery">
    <head>
        <meta charset="utf-8">

        <title>Fractal Bakery | Roll your own fractals</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        
        
        <link rel="stylesheet" href="fractalbakery.min.css">
        <script src="fractalbakery.min.js"></script>
        
    </head>

    <body>

<!-- Begin Templates -->
<script type="text/ng-template" id="views/fractalviewer.html">
<div>
    <canvas class='previewcanvas'></canvas>
    <canvas class='fractalcanvas'></canvas>
</div>


</script>
<!-- End Templates -->


        <div class="header">Fractal Bakery</div>
        <div ng-controller="MainCtrl" class="pure-g">
            <div class="pure-u-1-3">
                <form class="pure-form pure-form-aligned">
                    <legend><i class="fa fa-cog"></i> General parameters</legend>

                    <fieldset>
                        <div class="pure-control-group">
                            <label for="maxIter">Max. iteration count:</label>
                            <input type="number" ng-model="fractalParams.maxIter" min="1" required id="maxIter" class="shortnum" step="1">
                        </div>
                        <div class="pure-control-group">
                            <label for="eps">Tolerance:</label>
                            10^(-<input type="number" ng-model="tolExponent" min="0" required id="eps" class="shortnum" ng-change="updateTolerance()" step="1">)
                        </div>
                        <div class="pure-control-group">
                            <label>Width:</label>
                            <input type="number" ng-model="width" class="mednum" min="3" required step="1"> px
                        </div>
                        <div class="pure-control-group">
                            <label>Height:</label>
                            <input type="number" ng-model="height" class="mednum" min="3" required step="1"> px
                        </div>

                        <div class="pure-control-group">
                            <label>Top left corner:</label>
                            <input type="number" class="mednum" step="any" ng-model="fractalParams.bounds.reMin" required> +
                            <input type="number" class="mednum" step="any" ng-model="fractalParams.bounds.imMin" required>i
                        </div>
                        <div class="pure-control-group">
                            <label>Bottom right corner:</label>
                            <input type="number" class="mednum" step="any" ng-model="fractalParams.bounds.reMax" required> +
                            <input type="number" class="mednum" step="any" ng-model="fractalParams.bounds.imMax" required>i
                        </div>
                    </fieldset>
                </form>

                <form class="pure-form pure-form-aligned">
                    <legend><i class="fa fa-list"></i> Roots</legend>

                    <a href="#rootEditorTitle" ng-repeat="root in fractalParams.roots" ng-class="{
                            &apos;pure-button&apos;: true,
                            &apos;pure-button-active&apos;: root === $parent.activeRoot
                            }" ng-click="$parent.activeRoot = root" ng-style="{&apos;background&apos;: rootColour(root)}">
                        {{$index + 1}}
                    </a>

                    <div class="pure-controls">
                        <button class="pure-button pure-button-primary button-success" ng-click="addNewRoot()">
                            <i class="fa fa-plus"></i>
                            Add a root
                        </button>
                    </div>

                    <legend id="rootEditorTitle">
                        <i class="fa fa-pencil-square-o"></i>
                        Root {{fractalParams.roots.indexOf(activeRoot) + 1}}
                        parameters
                    </legend>
                    <fieldset>
                        <div class="pure-control-group">
                            <label>Position:</label>
                            <input type="number" class="mednum" step="any" ng-model="activeRoot.root.Re" required> +
                            <input type="number" class="mednum" step="any" ng-model="activeRoot.root.Im" required>i
                        </div>
                        <div class="pure-control-group">
                            <label>Hue (0–1):</label>
                            <input type="number" class="mednum" required step="any" ng-model="activeRoot.hue" min="0" max="1">
                        </div>

                        <div class="pure-controls">
                            <button class="pure-button button-error
                                pure-button-primary" ng-click="removeActiveRoot()">
                                <i class="fa fa-trash-o"></i>
                                Remove root {{fractalParams.roots.indexOf(activeRoot) + 1}}
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="pure-u-2-3" id="fractal">
                <div class="pad1em" ng-style="{&quot;width&quot;: width}">
                    <div class="buttonrow">
                        <button class="pure-button pure-button-primary" title="Restore previous zoom state" ng-click="restorePreviousZoom()" ng-disabled="zoomStack.length === 0">
                            <i class="fa fa-undo"></i> Undo zoom
                        </button>
                    </div>
                    <div id="fractal-wrap" ng-style="{&apos;width&apos;: width, &apos;height&apos;: height}">
                        <fractal-viewer id="viewer" params="fractalParams" ng-style="{&apos;width&apos;: width, &apos;height&apos;: height}">
                        </fractal-viewer>

                        <svg ng-attr-width="{{width}}" ng-attr-height="{{height}}" ng-mousemove="mouseMove($event)" id="roots" ng-mousedown="beginZooming($event)" ng-mouseup="zoomToMouse($event)">
                            <circle ng-repeat="root in fractalParams.roots" r="10" ng-attr-cx="{{reToX(root.root.Re)}}" ng-attr-cy="{{imToY(root.root.Im)}}" ng-mousedown="$event.stopPropagation();
                                    $event.preventDefault();
                                    $parent.dragRoot = root;
                                    $parent.activeRoot = root;" ng-mouseup="$parent.dragRoot = undefined;" ng-mouseleave="$parent.dragRoot = undefined" ng-class="{&quot;active&quot;: $parent.activeRoot === root}"></circle>

                            <path ng-attr-d="{{zoomPath}}" ng-show="zooming"></path>
                        </svg>
                    </div>
                    Grab one of the roots to move them around. Click and drag to
                    zoom in (ctrl unlocks the aspect ratio).
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="https://github.com/flannelhead/fractalbakery">Source
                code</a> on GitHub. <i class="fa fa-copyright"></i> Sakari
            Kapanen, 2014.
        </div>
    </body>
</html>

