body {
    font-size: 16px;
}

* {
    font-family: 'Open Sans', sans-serif;
}

form {
    padding: 1em;
}

.shortnum {
    width: 4em;
}

.mednum {
    width: 6em;
}

#fractal-wrap {
    position: relative;
}

#fractal svg, #fractal fractal-viewer {
    position: absolute;
    top: 0;
    left: 0;
}

.pad1em {
    padding: 1em;
}

#roots {
    cursor: crosshair;
}

#roots circle {
    fill: #268bd2;
    cursor: move;
}

#roots circle:hover {
    fill: #b58900;
}

#roots circle.active {
    fill: #dc322f;
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}

svg path {
    fill: none;
    stroke: black;
}

.buttonrow {
    text-align: right;
    padding-bottom: 0.5em;
}

.header {
    margin: 0.5em;
    margin-bottom: 0;
    font-size: 2em;
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    margin: 0.5em 1em;
    text-align: right;
}

