body {
    font-size: 16px;
}

* {
    font-family: 'Roboto', sans-serif;
}

form {
    padding: 1em;
}

.shortnum {
    width: 4em;
}

.mednum {
    width: 6em;
}

#fractal-wrap {
    position: relative;
}

#fractal svg, #fractal fractal-viewer {
    position: absolute;
    top: 0;
    left: 0;
}

.pad1em {
    padding: 1em;
}

